.card {
    padding: 20px;
    display: flex 0.25;
    text-align: center;
    overflow-x: visible;
    transition: transform .2s;
}
.card:hover {
    transform: scale(1.1);
}

.card > img {
    height: 25vh;
    width: 15vw;
}

.card > h4 {
    padding: 10px 20px;
}